
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 30px;

}
.name-highlight{
    color: purple;

}
.clr{
    color:orange;
}

.mm{
    
    
   float:left;
    width:50%;
    margin left:5%;
    padding left: 2%;
}
.mm img{
    width:100%;
}
.banner{
    background-image:url("images/top-banner.png");
}
section{
    height:500px;
    background-repeat: no-repeat;
}
